body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
  
    font-family: 'Roboto', sans-serif;
  }

  main {
    padding:3em;
  }

section  {
  
  display: flex;
  justify-content: center;
  align-items: center;


}

.navigation_photograph {
  justify-content: flex-start;
}
  .logo {
    display: flex;
    justify-content: flex-start;
    font-size: 5em;
    color:#911C1C; 
    
  }
nav {
  display: flex;  
  box-sizing: border-box;
  width:100%;
}
ul {
  display: flex;
 justify-content: center;
  box-sizing: border-box;
  font-size: 1em;
 width:100%;
  
  gap:0.5em;
  
    
}

.tags {

  text-decoration: none;
  color:#911C1C;  
  font-weight: 500;
  list-style:none;
  border:solid #C4C4C4 1px;  
  border-radius:2em; 
  padding:0.5em;
  padding-left:1em;
  padding-right:1em;
  cursor:pointer;
}
.tags:hover {
  transform:scale(1.1);
}
.accueil {
  display:flex;
  box-sizing: border-box;
  justify-content: flex-end;
  white-space: nowrap;
  color:#911C1C;
  font-size:2.5em;
 
}

/***************carousel****************/


.carousel {
  position: relative;
  overflow:hidden;
 
  
}

.carousel__item{
  float:left;


}

.carousel__container {
  transform:translate3d(0,0,0);
  transition: transform 0.3s;
}

.carousel__container::after {
content:"";
clear:both;
display:table;


}


 



.carousel__next, .carousel__prev {
  width:40px;
  height :40px;
  background:#fff ;
  background-image: url(../button.png);
  background-size:20px 20px;
  cursor: pointer;
  
 
}

.carousel__prev{
  transform:rotateY(180deg)
}