body {
   
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    font-size:1em;
    font-family: 'Roboto', sans-serif;
  }

  main {
    
    margin:1em;
  }
  main.index {
    
    margin:10em;
    margin-top:5em;
  }

section  {
  
  display: flex;
  justify-content: center;
  gap:5em;
 font-size:1em;
 box-sizing: border-box;
 width:100%;
  align-items: center; 
 margin-top:2em;
 
 

}
svg {
  width:0.9em;
  height:0.9em;  
  
}
a{
  text-decoration: none;
}

.navigation_photograph {
  justify-content: flex-start;
}
  .logo {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;    
    align-items: center;
    font-size: 3.5em;
    color:#901C1C; 
    font-weight: 500;
  
    
    
  }

  
nav {
  display: flex; 
  box-sizing: border-box;
  width:100%;
}
ul {
  padding:0;
  display: flex;
 justify-content: center;
 align-items: center;
  box-sizing: border-box;
  font-size: 0.75em;
 width:100%;
  
  gap:0.5em;
  
    
}

.tags {
  
  text-decoration: none;
  color:#901C1C;  
  font-weight: 500;
  list-style:none;
  border:solid #C4C4C4 1px;  
  border-radius:2em; 
  padding:0.5em;
  padding-left:1em;
  padding-right:1em;
  font-weight: 500;
  cursor:pointer;
}
.tags:hover {
  transform:scale(1.1);
}
.accueil {
  display:flex;
  box-sizing: border-box;
  justify-content: flex-end;
  white-space: nowrap;
  color:#901C1C;
  font-size:2em;
  font-weight:400;
  align-self: center;
 
}
@media screen and (max-width:1400px) {
  
 .logo{
   font-size:2.5em;
 }
  .ul {
    font-size: 0.8em;
  }
  .accueil {
    font-size: 1.5em;
  }
 
}

@media screen and (max-width: 1200px) {

  main {
    padding-left:0;
    margin:6em;
  }
  main.index {
    
    margin:6em;}
  section {
    
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

nav {
  order:3; 
  font-size:2em;
}
ul {
  flex-wrap: wrap;
}

.accueil {
  font-size:2.5em;
}

.logo{
  font-size:5em;
}

#logo_index {
  margin-left:0.5em;
  font-size:5em;
}
}

/***************carousel****************/


.carousel {
  position: fixed;
  overflow:hidden;   
  
}

.carousel__item{
  float:left;

}

.carousel__container {
  transform:translate3d(0,0,0);
  transition: transform 0.3s;
}




 





